[Unit]
Description=login

[Service]
Type=simple
Restart=always
RestartSec=5s
Environment=USERS_API_ADDRESS=http://users:8080
Environment=AUTH_API_PORT=8080
ExecStart=/go/login/login

[Install]
WantedBy=multi-user.target
